body {}

a:link, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 38px;
    right: 20px;
    z-index: 99;
    border-radius: none;
    outline: none;
    background-color: #0D4F8B;
    color: orange;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    font-size: 25px;
}

#myBtn:hover {
    background-color: #555;
}

/*Navbar Styles*/
#nbar {
    width: 100%;
}

.navImg {
    padding-top: 10px;
}

.len {
    padding-right: 15px;
}

.instant-search{
  position: relative;
  max-width: 250px;
}

.instant-search,
.instant-search__input{
  font-family: sans-serif;
}

.instant-search,
.instant-search *{
  transition: backround 0.15s, box shadow 0.15s;
}

.instant-search:focus-within {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #009578;
  border-radius: 5px;
  animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
  0% { width: 15% }
  50% { width: 100% }
  100% { width: 15% }
}

.instant-search,
.instant-search__input-container{
  border-radius: 5px;
}

.instant-search__input-container{
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding: 6%;
  background: #eeeeee;
}

.instant-search__input-container:focus-within {
  background: #ffffff;
}

.instant-search__input {
  flex-grow: 1;
  border: none;
  outline: none;
  width: 100%;
  padding: 0 6px;
  background: transparent;
}

.instant-search__results-container {
  max-height: 250px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s;
}

.instant-search__results-container--visible {
  visibility: visible;
  opacity: 1;
}

.instant-search__result {
  display: block;
  color: #333333;
  text-decoration: none;
  padding: 10px;
  font-size:0.8rem;
  cursor: pointer;
}

.instant-search__result:hover {
  background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}

.instant-search__title{
  font-size: 1.1em;
    font-weight: bold;
}

.instant-search__para{
  line-height: 1.5;
  margin: 8px 0;
}

/*Title carousel */
.titleimg {
    margin: 0;
    padding: 0;
    width: 118%;
    height: 400px;
    object-fit: cover;
}

.carousel-item {
    position: relative;
}

.titleText {
    position: absolute;
    text-align: center;
    padding-top: 100px;
    padding-left: 40%;
    padding-right: 2  0%;
}

.btton {
    width: 250px;
    height: 30px;
    margin-top: 25px;
    margin-left: 25px;
    background-color: #D3D3D3;
    border-radius: 30px;
    border: 2px solid black;
}

.btton a {
    color: black;
}

.btton2 {
    font-size: 3rem;
    margin-top: 50px;
    margin-left: 25px;
    padding: 30px 80px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px solid black;
}

.btton:hover, .btton2:hover {
    color: white;
    background-color: #0D4F8B;
    border: 0px;
}

@media(max-width :1024px) {
    .titleText {
        padding-top: 70px;
        padding-left: 15px;
    }

    .btton2 {
        padding: 10px 50px;
        margin-top: 220px;
    }
}

.carousel-control-next-icon {
    filter: invert(1);
}

/* Features Tab */
#features {
    padding: 5% 8%;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    background-color: #F0F0F0;
    line-height: 1.5rem;
    padding: 5%;
    margin: 5px 30px;
    border: 5px solid #0D4F8B;
    border-style: double;
    box-shadow: 0 0 15px #aaa;
    border-radius: 15px;

}

.feature-box:hover {
    border: 5px solid orange;
    border-style: double;
    color: orange;
}

#features p {
    color: #8f8f8f;
}

.icon {
    color: #0D4F8B;
    margin-bottom: 1rem;
}

.icon:hover {
    color: orange;
}

@media (max-width: 1024px) {
    .feature-box {
        margin: 5px 20px;
    }
}

/*About Us Styles*/
#abtUs {
    color: #D3D3D3;
    background: #0D4F8B;
    border-top-right-radius: 120% 660px;
    border-top-left-radius: 0;
    margin-bottom: 10px;
}

.head {
    text-align: center;
    margin-bottom: 20px;
}

.Contents {}

.abtTxt {
    padding-left: 50px;
}

.abtImg {
    padding-top: 10px;
}

.btton3 {
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: white;
    border-radius: 30px;
    border: 2px solid black;
}

.btton3:hover {
    color: #D3D3D3;
    background-color: #0D4F8B;
}

@media (max-width: 1024px) {
    #abtUs {
        margin-bottom: 5px;
    }

    .btton3 {
        margin-bottom: 10px;
    }

    .abtImg {
        display: none;
    }
}

/*Services Styles*/
#serv {
    margin-top: 50px;
}

.serBox {
    padding: 15px 12px;
    line-height: 1.5rem;
    margin: 5px 17px;
    border: 2px solid #0D4F8B;
    text-align: center;
    cursor: pointer;
}

.serBox:hover {
    border: 2px solid #808080;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

@media (max-width: 1024px) {
    .serBox {
        float: none;
        padding: 30px;
        margin-top: 5px;
    }

    .modal-body {
        font-size: 1rem;
    }
}

.modal-header, .modal-footer {
    background-color: #0D4F8B;
    color: white;
}

/*footer styles*/
#foot {
    margin-top: 50px;
    background-color: #0D4F8B;
}

h6 {
    color: orange;
}

iframe {
    width: 250px;
    height: 200px;
}

.btn-sm:hover {
    color: orange;
}

@media (max-width: 1024px) {
    iframe{
        width: 170px;
        height: 180px;
    }

    .abtDev{
        font-size: 15px;
    }
}

@media (max-width:700px){
    .abtDev{
        font-size: 13px;
    }
}
